
.section {
  display: flex;
  position: relative;
  padding: 2rem;
  min-height: 50vh;
  overflow: hidden;
  background-color: color(light);
  color: color(dark);
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-self: flex-start;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  &__bg-video {
    background-color: darken(color(primary), 20%);
    // simulate object-fit: cover
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: auto; height: auto;
    max-width: none; max-height: none;
    min-width: 100%; min-height: 100%;
    &--blur {
      filter: blur(.5rem) !important;
    }
  }

  &--dark {
    background-color: color(dark);
    color: color(light);
  }


  

  // &--cover {
  //   background-color: transparent;
  // }
}
