/* CSS Reset from https://github.com/zellwk/css-reset */

// *******************//
// Box Sizing //
// *******************//
 html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// ******************* //
// Generic Margins and Paddings //
// ******************* // 
body {
  margin: 0;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0 0 .5rem;
}

hr {
  margin: .5rem auto;
}

// ******************* //
// Lists //
// ******************* //
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

// ******************* //
// Forms and buttons //
// ******************* //
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}


// input[type="text"],
// textarea {
//   width: 100%;
// }

// More friendly border
input,
textarea,
button {
  border: 1px solid gray;
}

// Some defaults for one-liner buttons
button {
  padding: 0.75em 1em;
  border-radius: 0;
  line-height: 1;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

// *********************************** //
// Easy responsive for media elements //
// *********************************** //
img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}

// ******************* //
// Useful table styles //
// ******************* //
table {
  table-layout: fixed;
  width: 100%;
}

// ******************* //
// The hidden attribute //
// ******************* //
[hidden] {
  display: none !important;
}

// ******************* //
// Noscript //
// ******************* //
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

// ******************* //
// Other Generic Settings //
// ******************* //
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
}
