/* =-= Wasteless.US Stylesheet =-= */

// =-= Helpers =-= //
@import './helpers/functions';
@import './helpers/mixins';


// =-= Variables =-= //
@import './variables/breakpoints';
@import './variables/colors';
@import './variables/fonts';


// =-= Libraries =-= //
@import './libraries/normalize';


// =-= Base =-= //
@import './bases/reset';
@import './bases/typography';


// =-= Components =-= //
@import './components/section';
@import './components/button';
@import './components/social';
@import './components/navbar';
@import './components/footer';
// form
// posts, comments, articles
// modal
// Sections

// For page-specifics, Use component modifiers




// =-= Utilities =-= //

.shadow-dark {
  text-shadow: 0 0 .25rem color(dark);
}
.shadow-light {
  text-shadow: 0 0 .25rem color(light);
}





@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

// =-= Shame =-= //






/* 
  TODO:
  stop writing css, find a library already

  
  // Create Bootstrap Utilities Repo, import here


*/
