// =-= Libraries =-= //
@import './libraries/normalize';

// =-= Helpers =-= //
@import './helpers/functions';
@import './helpers/mixins';

// =-= Variables =-= //
@import './variables/breakpoints';
@import './variables/colors';
@import './variables/fonts';

// =-= Base =-= //
@import './bases/reset';
@import './bases/typography';

// =-= Layouts =-= //

// CSS Grid Layout
// Main, Sidebar, Responsive
// What happens if you try to grid a sticky item?



// =-= Components =-= //
// Sort from simple to complex; section, to navbar



@import './components/button';
@import './components/navbar';
@import './components/footer';
// form
// posts, comments, articles
// modal
// Sections

// For page-specifics, Use component modifiers

// =-= Utilities =-= //

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

// =-= Shame =-= //

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  margin-bottom: 2rem;
  padding: 2rem;
  min-height: 50vh;
  overflow: hidden;
  background-color: color(light);
}
@media (min-width: bkpt(sm)) {
  .section {
    text-align: center;
  }
  .btn {
    margin: auto;
  }
}
.cover-video {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  max-width: unset;
  filter: blur(.5rem) !important;
  transform: scale(1.1); // Prevents blurry edges
}

footer {
  padding: 2rem;
  background-color: color(dark);
  color: color(light);
}
.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 100%;
}
#cover {
  background-color: transparent;
  color: #eee;
  text-shadow: 0 0 .25rem color(dark);
}

/* 
  TODO:
  Links, Words, Inputs
  Where to put footer, sections?
  Redesign sections?
  Create other pages




  Redesign sections, use modifiers 

  create container object
*/
